<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--<img src="assets/img/banniere.png" class="img-ban">-->

<div class="main-content">

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <h4>Nos livres</h4>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Titre</th>
        <th scope="col">Auteur</th>
        <th scope="col">Prix</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let b of books">
        <th scope="row">{{b.title}}</th>
        <td>{{b.name}}</td>
        <td>{{b.price}}dt</td>
        <td><div routerLink="/upBook"><i class="fa fa-edit" ></i></div></td>
        <td><div (click)="delete_book(b.id)"><i class="fa fa-trash" ></i></div></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="add-delete">
    <button class="btn add" routerLink="/addBook">Ajouter livre</button>
    <button class="btn delete" routerLink="/rec-list">Consulter les réclamations</button>
  </div>
</div>
</div>

