<div class="login-container">
</div>
    <div class="col-md-4 login-card-col">
      <div class="card card-user">
        <div class="card-body">
          <div class="admin">
              <img  class="avatar border-gray" src="assets/img/logo.png" alt="...">
            <h5 class="title"><b>Se connecter</b></h5>
          </div>
          <form  class="form mt-3" >
            <div class="form-group">
              <input type="email" placeholder="Email" formControlName="email" class="form-control">
            </div>
              <div class="form-group">
                <input type="password" placeholder="Password" formControlName="password" class="form-control">
              </div>

            <div class="cnx"><button class="btn btn-primary btn-block " routerLink="/nosbook">Connexion</button></div>
          </form>
<!--          <div  class="alert-danger" role="alert"> vérifiez vos informations</div>-->
        <hr>
        <p>si vous n'avez pas de compte inscrivez-vous <a routerLink="/register">ici</a></p>
      </div>
    </div>
  </div>



