<img src="assets/img/banniere.png" class="cp-text">
<div class="container">

<div class="main-content">

  <nav>
    <ul class="container">
      <li><a class="nav-link waves-light" routerLink="/accueil">Accueil</a></li>
      <li><a class="nav-link waves-light" routerLink="/books">Cataloque</a></li>
      <li><a class="nav-link waves-light" routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="card card-form">
    <div class="card-header">
      <h4>Déposez votre réclamation</h4>
    </div>
    <form  class="form mt-3" >


      <input type="text" required="required" formControlName="prenom" class="form-control" placeholder="Prénom">


      <input type="text" required="required" formControlName="nom" class="form-control" placeholder="Nom">



      <input type="text"  required="required" formControlName="email" class="form-control" placeholder="E-mail">



      <input type="text" required="required" formControlName="sujet" class="form-control" placeholder="Sujet">

      <input type="text" required="required" formControlName="msg" class="form-control" placeholder="Message">


        <button class="btn btn-send">Envoyer</button>

    </form>

  </div>
</div>

<footer class="cp-text">
  ©2021-Copyright-Books'4U. All rights reserved.
</footer>

