<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<img src="assets/img/banniere.png" class="img-ban">

<div class="main-content">

  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h4>Nos livres</h4>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Sujet</th>
          <th scope="col">Détails</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Besrour</td>
          <td>Shiraz</td>
          <td>livraison</td>
          <td><i class="fa fa-search"></i></td>
        </tr>
        <tr>
          <td>Gouja</td>
          <td>Aymen</td>
          <td>xxx</td>
          <td><i class="fa fa-search"></i></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

