@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
.img-ban{
  width: 100%;
  color: rgba(0,0,0,.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  background: #ba9386;
  text-align: center;

}
.cp-text{
  color: rgba(0,0,0,.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
  background: #ba9386;
  text-align: center;
    /*padding:%;*/
  /*height: min-content;*/
}
.main-content{
  /*background-image: url("src/assets/img/background1.jpg"); !* The image used *!*/
  background-color: #ba9386;
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.card-last-book
{
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.1);
}

.card-welcome{
  margin-left: 20px;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0);
  margin-bottom: 10px;
  font-family: Brushstroke;



}
.img-book{

  width: 250px;
  height: 400px;
}



/*ul {*/
/*  list-style-type: none;*/
/*  !*margin: 0;*!*/
/*  !*padding: 0;*!*/
/*  !*overflow: hidden;*!*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3,1fr);*/

/*  background-color: #966951;*/
/*  !*background-color: #333;*!*/
/*}*/

/*!*li {*!*/
/*!*  float: left;*!*/
/*!*}*!*/

/*li a {*/
/*  display: block;*/
/*  color: #000000;*/
/*  text-align: center;*/
/*  padding: 14px 16px;*/
/*  text-decoration: none;*/
/*}*/

/*!* Change the link color to #111 (black) on hover *!*/
li a:hover {
  background-color: #ba9386;
  /*text-decoration-color: white;*/

}

ul.container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  list-style-type:none ;
  text-align: center;
  background-color: #966951;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
  /*grid-template-rows: auto;*/
}

.last-book{
  background-color: #ffffff;
}
.button-last-book{
  text-align: right;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
